{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% block title %}
    لیست محصولات
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if current_user.avatar %}
                    <a class="thumbnail">
                        <img style="width: 100%" src="{{ current_user.avatar.url }}" alt="">
                    </a>
                {% endif %}
                {% render_partial 'panel_User.views.template_user_panel_components' %}
            </div>
            <div class="col-md-8">
                <table class="table table-responsive table-hover table-striped">
                    <tr>
                        <th class="text-right">شناسه</th>
                        <th class="text-right">تاریخ تایید فاکتور</th>
                        <th class="text-right">قیمت نهایی خرید</th>
                        <th class="text-right">دستورات</th>
                    </tr>
                    {% for order in object_list %}
                        <tr>
                            <td class="text-right">{{ order.id }}</td>
                            <td class="text-right">
                                {{ order.payment_date | show_date }}
                            </td>
                            <td class="text-right">
                                {{ order.calculate_total_price | there_digits_number }}
                            </td>
                            <td>
                                <a href="{% url 'show_detail_shop' detail_id=order.id %}" class="btn btn-success">جزییات</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}